<!-- templates/base.html -->
{% extends "base.html" %}

{% block title %}AI for Social Good{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block page_content %}
<div class="container">
  <div class="page-header">
    <h1>Welcome to the AI for Social Good Website</h1>
  </div>
  
  <!-- Updated sections with descriptions below the links -->
  <ul>
    <li><h3><a href="/ai4sg/Covid">Covid-19 Daily Trends</a></h3>
      <p>Description: View the latest daily trends of COVID-19 infections and mortality rates.</p>
    </li>
    
    <li><h3><a href="/ai4sg/SentimentByPolicy">Citizen Concerns Regarding COVID 19 by Policy</a></h3>
      <p>Description: Explore public sentiment and concerns regarding various COVID-19 policies.</p>
    </li>
    
    <li><h3><a href="/ai4sg/GeneralFakeNews">Fake News Evaluator (prototype)</a></h3>
      <p>Description: Analyze and evaluate the impact of fake news during the COVID-19 pandemic.</p>
    </li>
    
    <li><h3><a href="/ai4sg/PolicyMaps">Policy Maps</a></h3>
      <p>Description: Interactive maps visualizing the effects of COVID-19 policies worldwide.</p>
    </li>
    
    <li><h3><a href="/ai4sg/Summarize">Summarizer using ChatGPT</a></h3>
      <p>Description: Summarize large datasets using advanced AI tools like ChatGPT.</p>
    </li>
  </ul>
</div>
{% endblock %}