/* apache_flask/venv/lib/python3.7/site-packages/flask_bootstrap/static/css */
/* custom.css */

/* Top red bar */
.top-bar {
    background-color: #E9282D;
    height: 80px;
    width: 100%;
  }
  
  /* Local header blue bar */
  .local-header-bar {
    background-color: #021D49;
    width: 60px;
    height: 100%;
    float: left;
  }
  
  /* Body and general font */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
  }
  
  .navbar-inverse {
    background-color: #d9534f;
  }
  
  .navbar-nav > li > a {
    color: white;
  }
  
  .navbar-nav > li.active > a {
    background-color: #c9302c;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li h3 a {
    color: #337ab7;
  }
  
  ul li p {
    font-size: 12;
  }