{% extends "bootstrap/base.html" %}

{% block title %}AI for Social Good{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}
<style>
    .navbar-inverse {
        background-color: #E9282D;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
    }
    .global-side-bar {
        background-color: #021D49;
        width: 60px;
        height: calc(100% - 80px);
        position: fixed;
        top: 80px;
        left: 0;
    }
    .navbar-brand {
        color: white;
   }
    .navbar-nav {
        color: white;
    }
</style>

{% block navbar %}
<div class="navbar navbar-inverse"  role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/ai4sg">AI for Social Good</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li  {% if request.path == '/' %}class="nav-item active"{% endif %}><a href="/ai4sg">Home</a></li>
                <li  {% if request.path == '/Covid' %}class="nav-item active"{% endif %}><a href="/ai4sg/Covid">Infection/Mortality</a></li>
                <li  {% if request.path == '/SentimentByPolicy' %}class="nav-item active"{% endif %}><a href="/ai4sg/SentimentByPolicy">Citizen Concerns by Policy</a></li>
                <li  {% if request.path == '/GeneralFakeNews' %}class="active"{% endif %}><a href="/ai4sg/GeneralFakeNews">Fake News</a></li>
                <li  {% if request.path == '/PolicyMaps' %}class="active"{% endif %}><a href="/ai4sg/PolicyMaps">Policy Maps</a></li>
                <li  {% if request.path == '/Summarize' %}class="active"{% endif %}><a href="/ai4sg/Summarize">Summarize</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="global-side-bar"></div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    	<div class="alert alert-warning">
        	<button type="button" class="close" data-dismiss="alert">&times;</button>
        	{{ message }}
    	</div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}